#login {
    position: absolute;
    margin: auto !important;
    left: 0;
    right: 0;
    top: -10%;
    bottom: 0;
    height: fit-content;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: #2B2A29BD !important;
}

#login .logo,
#login .case {
    display: none !important;
}

h1,
h2 {
    text-align: center !important;
}

#login .content {
    text-align: center;
}

#login .form {
    width: 100% !important;
}

[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"],
textarea {
    color: #ccc;
    background-color: #1C1B1B !important;
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
